/*-----Sign In/Sign Up-----*/
.sign-body {
    display: flex;
    justify-content: center;
    height: 75vh;
    align-items: center;
}

.sign-cont {
    padding: 2.5vh 5vw;
}

.sign-cont form {
    width: 25vw;
}

.sign_header {
    margin-bottom: 2vh;
    font-size: 1.75em;
    text-transform: uppercase;
    color: #f0f0f0;
}

.sign-cont-box label {
    font-size: 0.8em;
    font-weight: lighter;
    color: #f0f0f0;
}

.sign_input {
    padding: 1vh 0;
}

.sign_input input {
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    height: 2.5vh;
    background-color: #f0f0f0;
}

.sign-check {
    display: flex;
    justify-content: flex-end;
}

.sign-check input {
    margin-right: 0.5vw;
}

.sign-check label {
    font-size: 0.8em;
    font-weight: lighter;
    color: #f0f0f0;
}

.sign_submit {
    display: flex;
    flex-direction: column;
    padding: 1vh 0;
    align-items: center;
}

.sign_submit button {
    border: 1px solid #757575;
    padding: 0.75vh 0.75vw;
    width: 100%;
    font-size: 0.7em;
    background-color: #757575;
    color: #f0f0f0;
    transition: 0.3s;
    cursor: pointer;
}

.sign_submit button:hover {
    border: 1px solid #333333;
    background-color: #333333;
    color: #f0f0f0;
}

.sign_submit a {
    padding: 1vh;
    font-size: 0.75em;
    font-weight: lighter;
    color: #757575;
    transition: 0.3s;
}

.sign_submit a:hover {
    color: #333333;
}

.sign-cont-btm {
    display: flex;
    justify-content: center;
    padding: 1vh 0;
    font-size: 0.8em;
    font-weight: lighter;
    color: #f0f0f0;
}

.sign-cont-btm a {
    padding-left: 0.5vw;
    color: #757575;
    transition: 0.3s;
}

.sign-cont-btm a:hover {
    color: #333333;
}

/*-----Dashboard-----*/
.dashboard {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.dashboard-body {
    display: flex;
}

.dashboard_list {
    margin: 1vh 1vw;
}

.dashboard-user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    align-items: center;
}

.dashboard-user-data h1 {
    font-size: 1em;
    font-weight: normal;
    color: #f0f0f0;
}

.dashboard-user-data h2 {
    font-size: 0.9em;
    font-weight: lighter;
    color: #f0f0f0;
}

.dashboard_link {
    text-decoration: none;
}

.dashboard_link-item {
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    margin: 1vh 0;
    padding: 1vh 1vw;
    font-size: 0.9em;
    font-weight: lighter;
    text-align: center;
    color: #f0f0f0;
    transition: 0.2s;
}

.dashboard_link-item:hover {
    border: 1px solid #757575;
    color: #757575;
}

.dashboard-cont {
    margin: 1vh 1vw;
    width: 50vw;
    height: 50vh;
}

.dashboard-cont h1 {
    border-bottom: 1px solid #f0f0f0;
    padding: 1vh 1vw;
    font-size: 1.5em;
    font-size: normal;
    color: #f0f0f0;
}

.dashboard-cont-box {
    display: flex;
    flex-direction: column;
}

.dashboard-row {
    border-bottom: 1px solid #f0f0f0;
}

.dashboard-row-header {
    padding: 2vh 1vw 1vh 1vw;
    display: flex;
}

.dashboard-row-header label {
    flex: 1;
    font-size: 0.9em;
    color: #f0f0f0;
}

.edit_btn, .edit_btn2, .edit_btn3 {
    justify-content: flex-end;
    margin-top: -1vh;
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    padding: 1vh 0.5vw;
    width: 4vw;
    background-color: #151515;
    font-size: 0.8em;
    color: #f0f0f0;
    outline: 0;
    cursor: pointer;
    transition: 0.2s;
}

.edit_btn:hover, .edit_btn2:hover, .edit_btn3:hover {
    border-color: #757575;
    color: #757575;
}

.edit_btn.hide, .edit_btn2.hide, .edit_btn3.hide {
    display: none;
}

.dashboard-row-cont {
    display: flex;
    width: 100%;
}

.dashboard-row-cont p {
    flex: 1;
    font-size: 0.9em;
    font-weight: lighter;
    color: #c7c7c7;
}

.dashboard-data, .dashboard-data2, .dashboard-data3 {
    display: flex;
    padding: 1vh 1vw;
    width: 100%;
}

.dashboard-data.hide, .dashboard-data2.hide, .dashboard-data3.hide {
    display: none;
}

.dashboard-edit, .dashboard-edit2, .dashboard-edit3 {
    display: none;
    padding: 1vh 1vw 2vh 1vw;
    flex-direction: column;
    width: 100%;
}

.dashboard-edit.show, .dashboard-edit2.show, .dashboard-edit3.show {
    display: flex;
}

.dashboard-edit input, .dashboard-edit2 input, .dashboard-edit3 input {
    margin: 1vh 0;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    padding: 0.75vh 0.75vw;
    background-color: #151515;
    font-size: 0.9em;
    color: #f0f0f0;
}

.dashboard-btn {
    padding: 2vh 0 1vh 0;
}

.dashboard-btn button {
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    padding: 0.75vh 0.5vw;
    width: 8vw;
    font-size: 0.8em;
    outline: 0;
    cursor: pointer;
    transition: 0.2s;
}

.submit-btn {
    margin-right: 0.5vw;
    background-color: #f0f0f0;
    color: #151515;
}

.submit-btn:hover {
    border: 1px solid #757575;
    background-color: #757575;
}

.alt-btn, .alt-btn2, .alt-btn3 {
    background-color: #151515;
    color: #f0f0f0;
}

.alt-btn:hover, .alt-btn2:hover, .alt-btn3:hover {
    border: 1px solid #757575;
    color: #757575;
}