.logreg-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.logreg-cont-body {
    padding: 2.5vh 5vw;
}

.logreg-cont-body form {
    width: 25vw;
}

.logreg-cont_header {
    margin-bottom: 2vh;
    text-transform: uppercase;
    font-size: 1.75em;
    color: #f0f0f0;
}

.logreg-cont-box label {
    font-size: 0.8em;
    font-weight: lighter;
    color: #f0f0f0;
}

.logreg-cont_inp {
    padding: 1vh 0;
}

.logreg-cont_inp input {
    border: 1px solid #f0f0f0;
    padding: 5px;
    width: 100%;
    height: 2.5vh;
    background-color: #f0f0f0;
}

.logreg-cont-check {
    display: flex;
    justify-content: flex-end;
}

.logreg-cont-check input {
    margin-right: 0.5vw;
}

.logreg-cont-check label {
    font-size: 0.8em;
    font-weight: lighter;
    color: #f0f0f0;
}

.logreg-cont-sbmt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 0;
}

.logreg-cont-sbmt button {
    padding: 0.75vh 0.75vw;
    width: 100%;
    border: 1px solid #757575;
    font-size: 0.7em;
    background-color: #757575;
    color: #f0f0f0;
    transition: 0.3s;
    cursor: pointer;
}

.logreg-cont-sbmt button:hover {
    border: 1px solid #333333;
    background-color: #333333;
    color: #f0f0f0;
}

.logreg-cont-sbmt a {
    padding: 1vh;
    font-size: 0.75em;
    font-weight: lighter;
    color: #757575;
    transition: 0.3s;
}

.logreg-cont-sbmt a:hover {
    color: #333333;
}

.logreg-cont-btm {
    display: flex;
    justify-content: center;
    padding: 1vh 0;
    color: #f0f0f0;
    font-size: 0.8em;
    font-weight: lighter;
}

.logreg-cont-btm a {
    padding-left: 0.5vw;
    color: #757575;
    transition: 0.3s;
}

.logreg-cont-btm a:hover {
    color: #333333;
}

/*-----Acc-----*/
.acc-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.acc-cont-body {
    display: flex;
}

.acc-cont_list {
    margin: 1vh 1vw;
}

.acc-cont-user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.acc-cont-user-data h1 {
    font-size: 1.1em;
    font-weight: normal;
    color: #f0f0f0;
}

.acc-cont-user-data h2 {
    font-size: 1em;
    font-weight: lighter;
    color: #f0f0f0;
}

.acc-cont_link {
    text-decoration: none;
}

.acc-cont_link-box {
    padding: 1vh 1vw;
    border: 1px solid #f0f0f0;
    color: #f0f0f0;
    transition: 0.3s;
}

.acc-cont_link-box:hover {
    background-color: #757575; 
}

.acc-cont-box {
    margin: 1vh 1vw;
    width: 50vw;
    height: 50vh;
}

.acc-cont-info {
    display: flex;
    flex-direction: column;
}

.acc-cont-info-box {
    border-bottom: 1px solid #f0f0f0;
}

.acc-cont-box h1{
    padding: 1vh 1vw;
    border-bottom: 1px solid #f0f0f0;
    color: #f0f0f0;
}

.acc-cont-info-box h2 {
    color: #f0f0f0;
    font-size: 1.1em;
    padding: 2vh 1vw 1vh 1vw
}

.acc-cont-info-cont {
    display: flex;
    width: 100%;
    padding: 2vh 1vw 1vh 1vw;
}

.acc-cont-info-cont p {
    flex:1;
    font-weight: lighter;
    color: #c7c7c7;
}

.acc-cont-info-cont a{
    justify-content: flex-end;
    color: #757575;
}

.acc-cont-info-cont a:hover {
    color: #3e3e3e;
}